<action-container title="Expenses"
                  icon="local_fire_department"
                  mainIcon="account_balance_wallet"
                  leftLink="/expenses/budget">
  <h5 class="title">Mettre à jour mon budget</h5>

  <mat-form-field *ngIf="state" appearance="standard">
    <mat-label>Budget actuel</mat-label>
    <input matInput type="text" autocomplete="off" value="{{state.target}} €" disabled>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Nouveau Budget</mat-label>
    <input matInput type="number"  [(ngModel)]="newTarget" autocomplete="off">
  </mat-form-field>

  <div class="action">
    <button (click)="validate()" mat-button mat-raised-button color="accent">valider</button>
  </div>

</action-container>
