video {
  width: 100vw!important;
  height: 100vh!important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  a {
    font-size: 60px;
    border: 1px solid #cccccc;
    color: #cccccc;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
