main {
  margin-top: 20px;
  padding: 20px;
  choice {
    margin-bottom: 20px;
  }
}

rounded-icon {
  margin: auto;
}

b4-progress {
  margin-top: 20px;
}

rounded-icon {
  margin-top: 20px;
}

:host {
  display: block;
  padding-bottom: 20px;
}
