<navigation [title]="'B4-expense'" [rightAction]="'/expenses/home'"></navigation>

<rounded-icon [icon]="'home'"></rounded-icon>

<main>
  <choice [title]="'Nouveau produit'"
          [icon]="'add_shopping_cart'"
          [subTitle]="'ajouter un nouveau produit à la base de données'"
          [routerLink]="'/new-product'"></choice>
  <choice [title]="'Nouvelle dépense'"
          [icon]="'storefront'"
          [subTitle]="'dépense magasin, dépense réstaurant'"
          [routerLink]="'/expenses-type'"></choice>
</main>

<b4-progress [steps]="5" [active]="1"></b4-progress>
