.loading {
  padding: 12px;
}

main.categories {
  margin-top: 30px;

  .category {
    display: flex;
    align-items: center;
    .img {
      padding: 12px;
      margin-right: 15px;

      //width: 60px;
      img {
        width: 30px;
      }
    }
  }
}
