:host {
  position: fixed;
  display: block;
  bottom: -3px;
  left: 0;
  right: 0;
}

.apps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 5px;
  font-size: 12px;

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.active {
      font-size: 14px;
    }
  }
}
