<navigation [title]="'Recheche produits'" [enableRight]="true" (right)="close.emit(true)"></navigation>
<header>
  <mat-form-field appearance="standard">
    <mat-label>{{"screen.new.expense.form.product" | translate}}</mat-label>
    <input matInput type="text" placeholder="Ex: Coca cola light 30cl" [(ngModel)]="searchedProduct"
           (keyup)="searchProduct()" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</header>
<p>Résultats correspondant à votre recherche:</p>
<main *ngIf="searching">
  <p>Recherche en cours ...</p>
</main>
<main *ngIf="productList">
  <ng-container *ngFor="let product of productList">
    <div class="product" (click)="selectProduct(product)">
      <div class="description">
        <div class="basic-information">
          <span>{{product.name}}</span>
          <span class="secondary">{{product.brand + ' - ' + product.displayQuantity | lowercase}}</span>
        </div>
        <img src="{{product | productPhoto}}" alt="">
      </div>
      <mat-divider></mat-divider>
    </div>

  </ng-container>
</main>
