:host {
  display: block;
}

.load-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(165 165 165 / 28%);
  z-index: 44;
  overflow: hidden;
}

.activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251, 251, 251, .05),
    rgba(251, 251, 251, .3),
    rgba(251, 251, 251, .6),
    rgba(251, 251, 251, .3),
    rgba(251, 251, 251, .05));
  animation: loading 2s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
