<ng-container *ngIf="data">
  <h5 class="title">Dépenses par type:</h5>
  <section class="expense-by-type">
    <p class="description">Cliquez sur les cartes pour avoir plus de détails sur vos statistiques de dépense</p>
    <expense-card *ngIf="data.restaurantsBasicStats" [expensesCount]="data.restaurantsBasicStats.count.toFixed(0)"
                  [totalExpenses]="data.restaurantsBasicStats.total.toFixed(2)"
                  [percentage]="data.percentageRestaurant + ''"
                  [routerLink]="'/expenses-by-place/restaurants'"
                  [type]="'RESTAURANT'"></expense-card>

    <expense-card *ngIf="data.storeBasicStats" [expensesCount]="data.storeBasicStats.count.toFixed(0)"
                  [totalExpenses]="data.storeBasicStats.total.toFixed(2)"
                  [percentage]="data.percentageStore + ''"
                  [routerLink]="'/expenses-by-place/storage'"
                  [type]="'STORE'"></expense-card>
  </section>

</ng-container>
