:host {
  display: block;
}

p.description {
  text-align: justify;
  margin-bottom: 20px;
}

.expense-by-type, .expense-by-month {
  padding: 0 20px;
  margin-top: 15px;

  expense-card {
    margin-bottom: 10px;
  }
}
