.place-holder {
  .type {
    content-placeholder {
      width: 36px;
      height: 36px;
    }
  }

  .details {

    .main {
      .main {
        content-placeholder {
          width: 100px;
          height: 15px;
        }
      }

      .secondary {
        content-placeholder {
          width: 60px;
          height: 12px;
          margin-top: 10px;
        }
      }
    }

    .price {
      content-placeholder {
        width: 36px;
        height: 15px;
      }
    }
  }
}


.expense {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 0;
  margin: 0;
  //margin-bottom: 1px;
  border: none;
  box-shadow: none;
  .type {
    $type-icon-size: 48px;

    mat-icon {
      width: $type-icon-size;
      height: $type-icon-size;
      font-size: $type-icon-size;
    }
  }

  .details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;

    .price {
      white-space: nowrap;
    }

    .description {
      display: flex;
      flex-direction: column;
    }

  }
}
