@import "src/styles";

:host {
  display: block;
  padding-bottom: 20px;
}

.expense-line {
  padding: 12px 20px;

  .primary {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .secondary {
    color: $accent-color;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

}
