@import "../../../../../styles";


navigation {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 20px;
}

$size: 45px;
mat-icon {
  margin-top: 20px;
  font-size: $size;
  width: $size;
  height: $size;
}

.add-barcode {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 50px;
}

.reader-wrapper {
  height: 350px;

  #reader {
    width: 300px;
    margin-top: 50px;

    .loading {
      width: 300px;
      height: 225px;
      padding: 12px;
      text-align: center;
    }
  }

}
