<navigation [leftAction]="'/add'" [title]="'screen.expense-type.title' | translate" [rightAction]="'/expenses'"></navigation>

<main>
  <rounded-icon [icon]="'payment'"></rounded-icon>

  <p>{{'screen.expense-type.description' | translate}}</p>
  <choice
    [routerLink]="'/holdhouse-expense-type'"
    [icon]="'shopping_cart'"
    [title]="'screen.expense-type.expense-holdhouse.title' | translate"
    [subTitle]="'screen.expense-type.expense-holdhouse.description' | translate"></choice>


  <choice
    [routerLink]="'/new-expense-restaurant'"
    [icon]="'storefront'"
    [title]="'screen.expense-type.expense-restaurant.title' | translate"
    [subTitle]="'screen.expense-type.expense-restaurant.description' | translate"></choice>

  <b4-progress [steps]="4" [active]="2"></b4-progress>

</main>
