@import "src/styles";

$icon-size: 3em;

a.expense-card-wrapper {
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;

  .expense-card {
    display: flex;

    justify-content: start;
    align-items: center;
    text-align: left;
    line-height: 20px;
    white-space: normal;
    font-weight: normal;

    .icon {
      mat-icon {
        font-size: $icon-size;
        color: $accent-color;
      }

      margin-right: 20px;
      display: flex;
    }

    .description {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .stats {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: bold;
        }
      }

      .percentage {
        font-size: 1.5em;
        color: $accent-color;
      }
    }
  }
}

:host {
  display: block;
}
