<a mat-butto class="expense-card-wrapper">
  <div class="expense-card">
    <div class="icon">
      <mat-icon [inline]="true">{{type === 'STORE' ? 'storefront' : 'restaurant'}}</mat-icon>
    </div>
    <div class="description">
      <div class="stats">
        <span class="title">{{type === 'RESTAURANT' ? 'Au réstaurants' : 'Dans les magasins' }}</span>
        <span>{{expensesCount }} dépenses en 2021</span>
        <span>{{totalExpenses }} euros</span>
      </div>
      <div class="percentage">{{percentage}}%</div>
    </div>
  </div>
</a>

