header {
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  .name.bucket {
    font-weight: 500;
  }
}

main {

  .item {
    padding: 5px 12px;

    .item-header {
      display: flex;
      justify-content: space-between;
      padding: 4px;
    }

    .item-details {
      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        padding: 4px;

        .key {
          margin-right: 10px;
          display: block;
        }

        mat-progress-bar {
          padding: 10px 0;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 5px;
}

:host {
  display: block;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}
