
main {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);

  .product:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.01);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;

  mat-form-field {
    width: 100%;
  }

  mat-icon {
    margin-left: 10px;
  }
}

p {
  padding: 10px 20px;
}

div.product {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  text-transform: capitalize;

  img {
    width: 40px;
    margin-right: 20px;
    object-fit: contain;
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      width: 40px;
    }
  }

  .basic-information {
    display: flex;
    flex-direction: column;

    .secondary {
      color: darkgray;
    }
  }
}
