<navigation [title]="'Recheche produits'"></navigation>
<header>
  <mat-form-field appearance="standard">
    <mat-label>{{"screen.new.expense.form.product" | translate}}</mat-label>
    <input matInput type="text" placeholder="Ex: Coca cola light 30cl" [(ngModel)]="searchedProduct"
           (keyup)="searchProduct()" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</header>
<p>Résultats correspondant à votre recherche:</p>
<main *ngIf="productList">
  <ng-container *ngFor="let product of productList">
    <div class="product" (click)="selectProduct(product)">
      <!--        <img src="{{getIcon(product)}}" alt="">-->
      <div class="description">
        <div class="basic-information">
          <span>{{product.name}}</span>
          <span class="secondary">{{product.brand + ' - ' + product.displayQuantity | lowercase}}</span>
        </div>
        <img
          src="{{product.photo && product.photo.indexOf('https') !== -1 ? product.photo : photoBaseURl + product.photo}}"
          alt="">
      </div>
      <mat-divider></mat-divider>
    </div>

  </ng-container>
</main>
