.storage-details-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    border-top-right-radius: 34px;
    margin-top: 15px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    padding: 15px 12px 70px;
    display: flex;
    flex-direction: column;
    p {
      text-align: center;
    }
  }
}
