@import "src/styles";

header {
  background: linear-gradient(281deg, lighten($accent-color, 15) 21%, $accent-color 100%);
  box-shadow: 0px -1px 5px -2px rgb(0 0 0 / 74%) inset;
  color: white;

  .stat {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-info {
      $size: 45px;
      font-size: $size;
      margin-bottom: 30px;
    }

    .label {
      font-size: 16px;

    }

  }

  padding-bottom: 30px;
}

.information-container {
  .information {
    padding: 20px;
    display: flex;

    .key {
      $size: 120px;
      font-weight: 600;
      max-width: $size;
      min-width: $size;
      display: block;
    }

    .value {
      padding-left: 12px;
    }

    .bill {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

footer.action {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 100px;
  button {
    margin-bottom: 15px;
  }
}
