@use "../../../node_modules/@angular/material/index" as mat;

@include mat.core();

.dark-theme {
  $b4-dark-primary: mat.define-palette(mat.$yellow-palette, 100);
  $b4-dark-accent: mat.define-palette(mat.$orange-palette);
  $b4-dark-warn: mat.define-palette(mat.$red-palette);

  $b4-dark-theme: mat.define-dark-theme($b4-dark-primary, $b4-dark-accent, $b4-dark-warn);

  $primary-color: mat.get-color-from-palette($b4-dark-primary);
  $accent-color: mat.get-color-from-palette($b4-dark-accent);
  $warn-color: mat.get-color-from-palette($b4-dark-warn);

  @include mat.all-component-themes($b4-dark-theme);

  .background-color-primary {
    background-color: mat.get-color-from-palette($b4-dark-primary);
  }

  .background-color-accent {
    background-color: mat.get-color-from-palette($b4-dark-accent);
  }

  .background-color-warn {
    background-color: mat.get-color-from-palette($b4-dark-warn);
  }

  .color-primary {
    color: mat.get-color-from-palette($b4-dark-primary);
  }

  .color-accent {
    color: mat.get-color-from-palette($b4-dark-accent);
  }

  .color-warn {
    color: mat.get-color-from-palette($b4-dark-warn);
  }
}
