@import "src/styles";

header {
  background: linear-gradient(281deg, lighten($accent-color, 15) 21%, $accent-color 100%);
  box-shadow: 0px -1px 5px -2px rgb(0 0 0 / 74%) inset;
  color: white;
  .stat {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .total {
      font-size: 50px;
      margin-bottom: 30px;
    }

    .label {

    }
  }
  padding-bottom: 30px;

}

span.date {
  padding: 12px 20px;
  display: block;
}

:host {
  display: block;
  background: #f7f7f7;
  padding-bottom: 20px;
}
