<ng-container *ngIf="!selectProduct">
  <header>
    <navigation [title]="'Produits'" [enableRight]="enableClose" (right)="close.emit('close')"></navigation>

    <section class="search-wrapper">
      <div class="search">
        <mat-icon  color="accent" [inline]="true">search</mat-icon>
        <input type="text" [(ngModel)]="searchedTerm" (keyup)="onSearch($event)" placeholder="Coca cola, prince, oranges, ...">
      </div>
    </section>

    <section class="filters">
      <span class="filter" [class.active]="filter === 'all'" (click)="applyFilter('all')"><mat-icon class="true" color="accent">apps</mat-icon> Tous</span>
      <span class="filter" [class.active]="filter === 'b4-expenses'" (click)="applyFilter('b4-expenses')"><mat-icon class="true" color="accent">history</mat-icon> Dérniers consultés</span>
    </section>

  </header>
  <ng-container *ngIf="products && products.length !==0">
    <ng-container *ngFor="let product of products">
      <section class="product" (click)="selectProduct = product;">
        <section class="photo">
          <img [src]="product.photo && product.photo.indexOf('http') !== -1 ? product.photo : photoBaseURL + product.photo"
               alt="{{product.name + '_photo'}}">
        </section>
        <section class="description">
          <div class="main">
            <span class="name">{{product.name}}</span>
            <span class="calories">{{product.calories ? product.calories : 0}} kcal</span>
          </div>
          <div class="secondary">
            <span class="brand">{{product.brand ? product.brand.replace("null,", "").replace("null", "") : ''}}</span>
            <span class="nutrition-score {{product.score}}">{{product.score | uppercase}}</span>
          </div>
        </section>
      </section>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>

</ng-container>

<product-details *ngIf="selectProduct"
                 [product]="selectProduct"
                 [enableValidate]="returnSelectedProduct"
                 (close)="selectProduct = null;"
                 (selectedProduct)="selected.emit(selectProduct)"></product-details>
