<section *ngIf="expense" class="expense-line-list">
  <navigation [leftAction]="'/new-expense-list'" [title]="title" [rightAction]="'/expenses'"></navigation>

  <h5 class="title">Ligne de dépenses:</h5>
  <expenses-lines-list *ngIf="expense.expenseLines.length !== 0" [expenseLines]="expense.expenseLines">

  </expenses-lines-list>

  <footer class="action">
    <button mat-stroked-button mat-button
            [routerLink]="'/add-expense-line'"
            color="primary">
      <mat-icon>add</mat-icon>
      {{ 'line de dépense' | uppercase}}</button>
    <button mat-button mat-raised-button [disabled]="!canAddExpense()" (click)="submit()"
            color="primary">{{"screen.new.expense.action.submit" | translate | uppercase}}</button>
  </footer>

  <b4-progress [active]="3" [steps]="4"></b4-progress>
</section>

