@import "src/styles";

section.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer.action {
  display: flex;
  flex-direction: column;
  padding: 20px;

  button {
    margin-bottom: 15px;
  }
}

.product.category {
  margin: 10px 0;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4%;
  &.active {
    border: 2px solid $primary-color;
  }
}

section.new-product {
  padding-bottom: 20px;
}
