@import "../../../../../../styles";

:host {
  display: block;
  padding-bottom: 20px;
}

.search-wrapper {
  width: 90%;
  margin: auto;
  margin-top: 20px;

  .search {
    display: flex;
    align-items: center;
    border: 1px solid $accent-color;
    padding: 5px 12px;

    input {
      outline: 0;
      border: 0;
      padding: 12px;
      width: 100%;
    }

    mat-icon {
      font-size: 24px;
    }
  }
}

section.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  text-align: center;
  margin-top: 20px;

  span.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;

    &.active {
      border-bottom: 3px solid $accent-color;
    }

    mat-icon {
      margin-right: 10px;
    }
  }
}


.product {
  display: flex;
  //align-items: center;
  padding: 12px 20px;
  height: fit-content;

  .photo {
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 20px;
    img {
      width: 50px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .name {
        max-width: 150px;
      }

      .calories {
          white-space: nowrap;
      }
    }

    .secondary {
      display: flex;
      justify-content: space-between;
      color: $accent-color;

      .brand {

      }

      .nutrition-score {

      }
    }
  }
}

.nutrition-score {
  display: inline-block;
  color: white;
  padding: 3px 9px;
  &.e {
    background-color: $warn-color;
  }
  &.d {
    background-color: $accent-color;
  }
  &.c {
    background-color: $accent-color;
  }
  &.b {
    background-color: $primary-color;
  }
  &.a {
    background-color: $primary-color;
  }
}
