.information {
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .key {
    width: 150px;
  }

  .value {
    width: 100%;
    letter-spacing: 0.5px;
    text-align: end;
    font-size: 14px;
  }
}

.expense-lines {

  .main, .secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    margin-bottom: 5px;
  }

  .expense-line {
    padding: 10px 0;
  }

  .product-name {
    max-width: 80%;
  }
}

section {
  margin-bottom: 25px;
}

.action {
  button {
    width: 100%;
  }
}

.map {
  outline: none;
  border: none;
}
