<navigation [title]="'Storage'" ngColor="accent"
            [titleIcon]="'local_fire_department'"></navigation>


<main>
  <button mat-button mat-raised-button class="logo-container">
    <mat-icon class="logo" inline="inline" color="accent">inventory_2</mat-icon>
  </button>

  <section class="description">
    <p>
      Bonjour <span class="user-firstname color-accent">Wiliam</span> !
    </p>
    <p>
      Bienvenue dans le module B4- Storage. Ce module vous permettra de suivre vos consommations et
      limiter le gaspillage alimentaires.
    </p>
  </section>
</main>

<footer>
  <button mat-button mat-raised-button color="accent">
    Créer votre premier espace de stockage
  </button>
</footer>
