<navigation [title]="'Définir mon budget'" [leftAction]="'/budget'" [rightAction]="'/expenses'"></navigation>

<rounded-icon [icon]="'payment'" [fill]="true" color="accent"></rounded-icon>

<main *ngIf="info && info.target">
  <mat-form-field appearance="standard">
    <mat-label>Nouveau budget pour le mois en cours en euros*</mat-label>
    <input matInput type="text"
           autocomplete="off"
           [(ngModel)]="newTarget" required>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <input matInput type="text" disabled autocomplete="off" [value]="currentMonth">
  </mat-form-field>
</main>

<footer class="action">
  <button mat-raised-button mat-button
          (click)="update()"
          color="accent">{{ 'Valider'| uppercase}}</button>

</footer>
