@import "../../../../../../styles";

header {
  background: linear-gradient(281deg, lighten($accent-color, 15) 21%, $accent-color 100%);
  box-shadow: 0px -1px 5px -2px rgb(0 0 0 / 74%) inset;
  color: white;
  .stat {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .total {
      font-size: 50px;
      margin-bottom: 30px;
    }

    .label {
    text-align: center;
    }
  }
  padding-bottom: 30px;

}

span.date {
  padding: 12px 20px;
  display: block;
}

:host {
  display: block;
  background: #f7f7f7;
  padding-bottom: 20px;
}

section.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  span.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    &.active {
      border-bottom: 3px solid $accent-color;
    }
    mat-icon {
      margin-right: 10px;
    }
  }
}
