:host {
  display: block;
  padding: 12px;
}

$padding-space: 8px;


mat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .icon-container {
    padding: $padding-space;

    .icon {
      font-size: 50px;
    }
  }

  .content-container {
    display: flex;
    align-items: center;
  }

  .content {
    padding: $padding-space;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 12px;

    .title {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .key {
    font-size: 25px;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}
