<h5 class="title">Dérniére dépenses</h5>

<p>
  Cliquez sur les cartes pour avoir plus de détails sur vos statistiques de dépense
</p>

<mat-card class="background-color-accent color-white" routerLink="/expenses/top/restaurants">
  <div class="content-container ">
    <div class="icon-container ">
      <span class="icon material-icons">restaurant</span>
    </div>
    <div class="content">
      <span class="title">Aux restaurants</span>
      <span>{{restaurantStats?.count}} Dépenses en 2021</span>
      <span>{{restaurantStats?.total}} euros</span>
    </div>
  </div>

  <div class="key ">
    {{percentageRestaurant.toFixed(2)}} %
  </div>
</mat-card>


<mat-card class="background-color-accent color-white" routerLink="/expenses/top/stores">
  <div class="content-container">
    <div class="icon-container">
      <span class="icon material-icons">storefront</span>
    </div>
    <div class="content">
      <span class="title">Aux supermarchés</span>
      <span>{{storesStats?.count}} Dépenses en 2021</span>
      <span>{{storesStats?.total}} euros</span>
    </div>
  </div>
  <div class="key">
    {{percentageStores.toFixed(2)}} %
  </div>
</mat-card>
