@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$b4-expenses-ui-accent: mat.define-palette(mat.$brown-palette);
$b4-expenses-ui-primary: mat.define-palette(mat.$grey-palette, A700, A100, A400);

// The warn palette is optional (defaults to red).
$b4-expenses-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$b4-expenses-ui-theme: mat.define-light-theme((
  color: (
    primary: $b4-expenses-ui-primary,
    accent: $b4-expenses-ui-accent,
    warn: $b4-expenses-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($b4-expenses-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #484848;
}

$color-config: mat.get-color-config($b4-expenses-ui-theme);

$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
$is-dark-theme:   map.get($color-config, 'is-dark');

$primary-color: mat.get-color-from-palette($primary-palette, 'default');
$accent-color: mat.get-color-from-palette($accent-palette, 'default');
$warn-color: mat.get-color-from-palette($warn-palette, 'default');

h5.title {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  color: $primary-color;
  font-weight: 500;
}
