@import "styles/themes/dark";
@import "styles/themes/brown";
@import "styles/google-material";

h5.title, h5.sub-title {
  font-size: 16px;
  font-weight: 500;
}

h5.sub-title {
  font-size: 14px;
}

.wave-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, serif;
}

.title, h3, h1, h2, h4, h5 {
  font-family: "Proza Libre", Arial, serif;
}

