@import "styles/themes/dark";
@import "styles/themes/default";
@import "styles/google-material";

h5.title {
  //margin-top: 20px;
  //padding-left: 20px;
  font-size: 16px;
  color: $primary-color;
  font-weight: 500;
}

.wave-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, serif;
}

.title {
  font-family: "Proza Libre", Arial, serif;
}


