@import "src/styles";

header {
  background: linear-gradient(281deg, lighten($accent-color, 15) 21%, $accent-color 100%);
  box-shadow: 0px -1px 5px -2px rgb(0 0 0 / 74%) inset;
  color: white;

  .stat {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      $size: 80px;
      height: $size;
      width: $size;
      font-size: $size;
      margin-bottom: 15px;
    }

    .label {
      font-size: 16px;
    }

  }

  padding-bottom: 30px;
}

.place {
  display: flex;
  align-items: center;
  padding: 20px;

  .rank {
    font-size: 45px;
    margin-right: 20px;
    color: $accent-color;
  }

  .description {
    width: 100%;
    .primary {
      width: 100%;
      display: flex;
      justify-content: space-between;
      //margin-bottom: 5px;
    }
    .secondary {
      color: $accent-color;
    }
  }
}


.map {
  width: 100%;
  height: 200px;
}

:host {
  padding-bottom: 20px;
}
