<navigation [rightAction]="'/add'" [rightIcon]="'add'"></navigation>

<budget-target-displayer *ngIf="expenseBasicStats"
                         [target]="expenseBasicStats.target"
                         [routerLink]="'/budget'"
                         [total]="expenseBasicStats.total"></budget-target-displayer>


<last-expenses-section></last-expenses-section>

<expenses-by-type-stats-section></expenses-by-type-stats-section>

<expenses-by-nutrients-stats-section></expenses-by-nutrients-stats-section>

<expenses-by-month-stats-section *ngIf="expenseBasicStats" [expenseBasicStats]="expenseBasicStats">
</expenses-by-month-stats-section>

