rounded-icon {
  margin-bottom: 20px;
}

choice {
  margin-bottom: 10px;
  width: 100%;
}

b4-progress {
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

p {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
}
