.storage-details-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    border-top-right-radius: 34px;
    margin-top: 15px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    padding: 15px 0 60px;

    h4 {
      text-align: center;
      font-weight: 500;
    }

    .information {
      display: flex;
      padding: 12px;


      .key {
        font-weight: 500;
        width: 175px;
        display: block;
      }

      .value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        &.quantity {
          flex-direction: column;
          align-items: flex-start;

          .comment {
            margin-top: 5px;
            font-size: 12px;
          }
        }

        &.nutritional-value {
          justify-content: flex-end;

          .indicator {
            $size: 10px;
            width: $size;
            height: $size;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        button {
          margin-left: 10px;
        }
      }
    }

    section {
      margin-top: 15px;
    }

    section.img {
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    section.action {
      display: flex;
      justify-content: center;
    }
  }

}
